body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
}

.heading {
    text-align: center; 
    color: #333; 
    margin-top: 20px; 
}

.devs {
    list-style-type: none; 
    padding: 0; 
    max-width: 600px;
    margin: 20px auto; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.devs li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, transform 0.3s; 
}

.devs li:last-child {
    border-bottom: none; 
}

.devs li a {
    text-decoration: none; 
    color: #333; 
    display: block; 
}

.devs li a:hover {
    background-color: #e0e0e0;
    cursor: pointer; 
}


.devs li:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .devs {
        width: 90%;
    }
}
